@mixin gradient($direction, $list) {
    background: linear-gradient($direction, $list);
}

.injected-html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    @include gradient(
        90deg,
        (
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%,
        )
    );
}
